<div class="container-fluid">

  <h1  style="color: white;">Title</h1>

<p style="color: white;">Subtitle or additional information goes here</p> 

</div>
<div class="header pb-8 pt-5 pt-md-6 red-background">
  <div class="container-fluid" style="display: flex; justify-content: space-between; align-items: center;">
    <h1 class="mb-0" style="color: white;">RFQ Configurator</h1>
    <button class="button-10" role="button">Add New</button>
    <!-- <button class="button" style="float: right;">Add</button> -->
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7 custom-container">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <!-- <div class="card-header border-0">
          <h3 class="mb-0">Card tables</h3>
        </div> -->
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <!-- <th scope="col"></th> -->
                <!-- <th scope="col">Expand</th> -->
                <th scope="col">PFQ ID</th>
                <th scope="col">Project Type</th>
                <th scope="col">Due Date</th>
                <th scope="col">Status</th>
                <!-- <th scope="col">Completion</th>
                <th scope="col"></th> -->
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let item of items">
                <tr>
                  <!-- <td>
                    <button (click)="toggleSubmodule(item)">+</button>
                </td> -->
                <th scope="row" *ngIf="visible">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{ item.rfqId }}</span>
                    </div>
                  </div>
                </th>
                  <th scope="row">
                    <div class="media align-items-center">
                      <div class="media-body">
                        <span class="mb-0 text-sm">RFQ-01</span>
                      </div>
                    </div>
                  </th>
                  <td>
                    Factory Line
                  </td>
                  <td>
                    <span class="badge badge-dot mr-4">
                      <i class="bg-warning"></i> pending
                    </span>
                  </td>
                  <td>
                    <span class="badge badge-dot mr-4">
                      <i class="bg-warning"></i> Active
                    </span>
                  </td>
                </tr>
              </ng-container>
              <tr>
                <!-- <td>
                  
                </td> -->
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">RFQ-01</span>
                    </div>
                  </div>
                </th>
                <td>
                  Factory Line
                </td>
                <td>
                  <span class="badge badge-dot mr-4">
                    <i class="bg-warning"></i> pending
                  </span>
                </td>
                <td>
                  <span class="badge badge-dot mr-4">
                    <i class="bg-warning"></i> Active
                  </span>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <!-- <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                      <img alt="Image placeholder" src="../assets/img/theme/angular.jpg">
                    </a> -->
                    <div class="media-body">
                      <span class="mb-0 text-sm">RFQ-02</span>
                    </div>
                  </div>
                </th>
                <td>
                  Factory Line
                </td>
                <td>
                  <span class="badge badge-dot">
                    <i class="bg-success"></i> completed
                  </span>
                </td>
                <td>
                  <span class="badge badge-dot mr-4">
                    <i class="bg-warning"></i> Active
                  </span>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">RFQ-03</span>
                    </div>
                  </div>
                </th>
                <td>
                  Factory Line
                </td>
                <td>
                  <span class="badge badge-dot mr-4">
                    <i class="bg-danger"></i> delayed
                  </span>
                </td>
                <td>
                  <span class="badge badge-dot mr-4">
                    <i class="bg-warning"></i> Active
                  </span>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">RFQ-04</span>
                    </div>
                  </div>
                </th>
                <td>
                  Factory Line
                </td>
                <td>
                  <span class="badge badge-dot">
                    <i class="bg-info"></i> on schedule
                  </span>
                </td>
                <td>
                  <span class="badge badge-dot mr-4">
                    <i class="bg-warning"></i> Active
                  </span>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">RFQ-05</span>
                    </div>
                  </div>
                </th>
                <td>
                  Factory Line
                </td>
                <td>
                  <span class="badge badge-dot mr-4">
                    <i class="bg-success"></i> completed
                  </span>
                </td>
                <td>
                  <span class="badge badge-dot mr-4">
                    <i class="bg-warning"></i> Active
                  </span>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">RFQ-05</span>
                    </div>
                  </div>
                </th>
                <td>
                  Factory Line
                </td>
                <td>
                  <span class="badge badge-dot mr-4">
                    <i class="bg-warning"></i> pending
                  </span>
                </td>
                <td>
                  <span class="badge badge-dot mr-4">
                    <i class="bg-warning"></i> Active
                  </span>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">RFQ-06</span>
                    </div>
                  </div>
                </th>
                <td>
                  Factory Line
                </td>
                <td>
                  <span class="badge badge-dot mr-4">
                    <i class="bg-warning"></i> pending
                  </span>
                </td>
                <td>
                  <span class="badge badge-dot mr-4">
                    <i class="bg-warning"></i> Active
                  </span>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">RFQ-07</span>
                    </div>
                  </div>
                </th>
                <td>
                  Factory Line
                </td>
                <td>
                  <span class="badge badge-dot mr-4">
                    <i class="bg-warning"></i> pending
                  </span>
                </td>
                <td>
                  <span class="badge badge-dot mr-4">
                    <i class="bg-warning"></i> Active
                  </span>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">RFQ-08</span>
                    </div>
                  </div>
                </th>
                <td>
                  Factory Line
                </td>
                <td>
                  <span class="badge badge-dot mr-4">
                    <i class="bg-warning"></i> pending
                  </span>
                </td>
                <td>
                  <span class="badge badge-dot mr-4">
                    <i class="bg-warning"></i> Active
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
