.red-background {
    background-color: red;
  }
  .custom-container {
    width: 100%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the container */
  }
  .button {
    background-color: #424273; /* Green */
    border: none;
    color: white;
    padding: 8px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 3px 2px;
    margin-bottom: 10px;
    cursor: pointer;
  }